// other nice themes: Arc-Dark, lb, solarized_alternate, arthur, Monokai, sidebar
// android-notification

configuration {
	modi: "window,drun,ssh";
	window {
		close-on-delete: false;
	}
}
@theme "Arc-Dark"

* {
	// selected-normal-background: rgba ( 160, 94, 181, 100 % );
	selected-normal-background: rgba ( 240, 84, 76, 100 % );

}

window {
	border: 2;
}
